<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body class="edit-profile-page no-background">
        <div class="header-container">
            <header>
                <%- include('../partials/header-connected') %>
            </header>
        </div>

        <div class="main-container">
            <div class="info-bloc">
                <!-- Form to change the user's account datas  -->
                <!-- this line : enctype="multipart/form-data" specifies how the form-data 
                should be encoded when submitting it to the server. -->
                <form
                    class="edit-profile"
                    method="POST"
                    action="/updateprofile"
                    enctype="multipart/form-data"
                >
                    <div class="line">
                        <img
                            id="profileImg"
                            src="<%= session.user.picture %>"
                        />
                        <input
                            id="newImg"
                            name="newImg"
                            type="file"
                            accept="image/png,image/jpeg"
                        />
                    </div>
                    <div class="line">
                        <label for="fname">First name :</label>
                        <input
                            type="text"
                            id="fistname"
                            name="firstname"
                            placeholder="First name"
                            value="<%= user.name.first%>"
                        />
                    </div>
                    <div class="line">
                        <label for="lname">Last Name :</label>
                        <input
                            type="text"
                            id="lastname"
                            name="lastname"
                            placeholder="Last Name"
                            value="<%= user.name.last%>"
                        />
                    </div>
                    <div class="line">
                        <label for="mail">Mail :</label>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="usertest@test.uk"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                            value="<%= user.login.email%>"
                        />
                    </div>
                    <div class="line">
                        <label for="mail">New password :</label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="New password"
                            value=""
                        />
                    </div>
                    <div class="buttons">
                        <input
                            class="blue-button"
                            type="submit"
                            value="Change"
                        />
                        <a href="/profile">Cancel</a>
                    </div>
                </form>

                <hr class="edit-profile-separator" />

                <!-- Form to delete the user's account  -->
                <div class="delete-account">
                    <form
                        action="/deleteaccount"
                        method="post"
                        onsubmit="return confirm('Warning! This is a destructive action. \n Do you want to continue?');"
                    >
                        <input
                            type="text"
                            class="delete-account-email"
                            name="deleteAccountEmail"
                            value="<%= user.login.email%>"
                        />
                        <button type="submit">Delete your account</button>
                    </form>
                </div>
            </div>
        </div>

        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>
