<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body class="information-page no-background">
        <div class="header-container" id="header-container">
            <% if (session.loggedin) { %>
            <header>
                <%- include('../partials/header-connected') %>
            </header>
            <% } else { %>
            <header>
                <%- include('../partials/header') %>
            </header>
            <% } %>
        </div>

        <div class="main-container">
            <section class="city-container">
                <h3>
                    <span class="city-name">
                        <%= session.information.city.name %>
                    </span>
                    ,
                    <span class="city-country">
                        <%= session.information.city.country %>
                    </span>
                </h3>
                <% if(session.information.dates.start != "") { %>
                <p>
                    From:
                    <span class="city-dates-from">
                        <%= session.information.dates.start %>
                    </span>
                    , To:
                    <span class="city-dates-to">
                        <%= session.information.dates.end %>
                    </span>
                </p>
                <% } %>
                <p class="city-hidden-data">
                    <span id="city-hidden-id">
                        <%= session.information.city.country %>
                    </span>
                    <span id="city-hidden-coord-lat">
                        <%= session.information.city.coord.lat %>
                    </span>
                    <span id="city-hidden-coord-lon">
                        <%= session.information.city.coord.lon %>
                    </span>
                </p>

                <form
                    id="formFavCity"
                    name="formFavCity"
                    action="/dofav"
                    method="post"
                >
                    <button class="link-save-favourite" type="submit">
                        Save this city to your favourite
                    </button>

                    <% if(locals.messageFavError) { %>
                    <p class="error-message-fav">
                        <%= messageFavError %>
                    </p>
                    <% } %>
                </form>
            </section>

            <!-- All icons are from: https://www.amcharts.com/free-animated-svg-weather-icons/ -->
            <section
                class="forecast-container"
                id="forecast-container"
            ></section>
            <div class="error-message-weather"></div>

            <section class="photos-container">
                <div class="photos-header">
                    Some photos of the city
                    <img
                        src="/images/icons/icon-photo.svg"
                        alt="icon city photos"
                    />
                </div>

                <div class="photos-content"></div>
            </section>

            <% if (locals.tweets) { %>
            <section class="twitter-container">
                <!-- We check that there are at least 2 tweets to display
                 otherwise warn the user -->
                <% if (tweets.length > 1) { %>
                <div class="twitter-header">
                    Lastest popular tweets about your city
                </div>
                <% tweets.forEach(function(tweet) { %>
                <div class="tweet">
                    <div class="tweet-header">
                        <div class="tweet-header-photo">
                            <img
                                src="<%- tweet.user.image %>"
                                alt="icon-twitter"
                            />
                        </div>
                        <div class="tweet-header-user">
                            <div class="tweet-header-name">
                                <%= tweet.user.name %>
                            </div>
                            <div class="tweet-header-screenname">
                                @<%= tweet.user.screen_name %>
                            </div>
                        </div>
                    </div>
                    <div class="tweet-content">
                        <%= tweet.text %>
                        <a href="<%- tweet.link %>" target="_blank">
                            <%= tweet.link %>
                        </a>
                    </div>
                </div>
                <% }); %> <% } else {%>
                <div class="twitter-header">
                    Sadly, there is no tweet enough famous about your city for
                    you :(
                </div>
                <% } %>
            </section>
            <% } %>

            <div class="warning-message-placeholders">
                The next two sections are only placeholders, which could not be
                implemented due to lack of time.
            </div>
            <section class="events-container">
                <div class="events-header">
                    Some events in the vicinity
                    <img
                        src="/images/icons/icon-events.svg"
                        alt="icon event photos"
                    />
                </div>

                <div class="events">
                    <div class="event" id="event1">
                        <div class="event-date">
                            <span class="event-date-day">1</span>
                            <span class="event-date-month">Mar</span>
                        </div>
                        <div class="event-content">
                            <div class="event-content-title">
                                The Jungle Book
                            </div>
                            <div class="event-content-description">
                                We are so excited for Mirror and the Light we
                                are hosting a very special reading party in
                                honour of Hilary Mantel's bloody, glittering
                                world of the Tudors! Join us for a complimentary
                                glass of wine and discussion of Wolf Hall, Bring
                                Up the Bodies and share your theories on the
                                third instalment in this marvellous trilogy!
                            </div>
                        </div>
                        <div class="event-photo">
                            <img
                                class="event-photo-center-cropped"
                                src="/images/events/example1.jpg"
                                alt="Example event-photo"
                            />
                        </div>
                    </div>

                    <div class="event" id="event2">
                        <div class="event-date">
                            <span class="event-date-day">4</span>
                            <span class="event-date-month">Mar</span>
                        </div>
                        <div class="event-content">
                            <div class="event-content-title">
                                Digital Love presents Eddie Halliwell
                            </div>
                            <div class="event-content-description">
                                Eddie Halliwell will headline the Tunnels on
                                Saturday 29th February. Any remaining tickets
                                will sell out fast. Eddie Halliwell Bio: Eddie
                                Halliwell has been electrifying dancefloors all
                                over the...
                            </div>
                        </div>
                        <div class="event-photo">
                            <img
                                class="event-photo-center-cropped"
                                src="/images/events/example2.jpg"
                                alt="Example event-photo"
                            />
                        </div>
                    </div>

                    <div class="event" id="event3">
                        <div class="event-date">
                            <span class="event-date-day">12</span>
                            <span class="event-date-month">Mar</span>
                        </div>
                        <div class="event-content">
                            <div class="event-content-title">The 1975</div>
                            <div class="event-content-description">
                                We are so excited for Mirror and the Light we
                                are hosting a very special reading party in
                                honour of Hilary Mantel's bloody, glittering
                                world of the Tudors! Join us for a complimentary
                                glass of wine and discussion of Wolf Hall, Bring
                                Up the Bodies and share your theories on the
                                third instalment in this marvellous trilogy!
                            </div>
                        </div>
                        <div class="event-photo">
                            <img
                                class="event-photo-center-cropped"
                                src="/images/events/example3.jpg"
                                alt="Example event-photo"
                            />
                        </div>
                    </div>

                    <div class="event" id="event4">
                        <div class="event-date">
                            <span class="event-date-day">17</span>
                            <span class="event-date-month">Mar</span>
                        </div>
                        <div class="event-content">
                            <div class="event-content-title">
                                The Jungle Book
                            </div>
                            <div class="event-content-description">
                                We are so excited for Mirror and the Light we
                                are hosting a very special reading party in
                                honour of Hilary Mantel's bloody, glittering
                                world of the Tudors! Join us for a complimentary
                                glass of wine and discussion of Wolf Hall, Bring
                                Up the Bodies and share your theories on the
                                third instalment in this marvellous trilogy!
                            </div>
                        </div>
                        <div class="event-photo">
                            <img
                                class="event-photo-center-cropped"
                                src="/images/events/example1.jpg"
                                alt="Example event-photo"
                            />
                        </div>
                    </div>

                    <div class="event" id="event5">
                        <div class="event-date">
                            <span class="event-date-day">23</span>
                            <span class="event-date-month">Mar</span>
                        </div>
                        <div class="event-content">
                            <div class="event-content-title">
                                Indoor Outdoor Street Party
                            </div>
                            <div class="event-content-description">
                                Discover more details about Indoor Outdoor
                                Street Party in Aberdeen including contact
                                details, dates and times as well as ticket
                                information.
                            </div>
                        </div>
                        <div class="event-photo">
                            <img
                                class="event-photo-center-cropped"
                                src="/images/events/example2.jpg"
                                alt="Example event-photo"
                            />
                        </div>
                    </div>

                    <div class="event" id="event6">
                        <div class="event-date">
                            <span class="event-date-day">29</span>
                            <span class="event-date-month">Mar</span>
                        </div>
                        <div class="event-content">
                            <div class="event-content-title">
                                Aberdeen Restaurant Week
                            </div>
                            <div class="event-content-description">
                                Save the date, #ARW2020 is back! Location:
                                Aberdeen City Centre - your favourite
                                restaurants right in the heart of the Granite
                                City!Due to popular demand Aberdeen Restaurant
                                Week returns this...
                            </div>
                        </div>
                        <div class="event-photo-event-photo">
                            <img
                                class="event-photo-center-cropped"
                                src="/images/events/example3.jpg"
                                alt="Example event-photo"
                            />
                        </div>
                    </div>
                </div>
            </section>

            <section class="maps-container">
                <img
                    class="map-center-cropped"
                    src="/images/maps/example.png"
                    alt="example maps"
                />
            </section>
        </div>
        <!-- #main-container -->

        <footer>
            <%- include('../partials/footer') %>
            <script
                type="text/javascript"
                src="/js/api_openweathermap.js"
            ></script>

            <script type="text/javascript" src="/js/api_pixabay.js"></script>

            <% if (locals.favSubmit) { %>
            <script>
                document.formFavCity.submit();
            </script>
            <% } %>
        </footer>
    </body>
</html>
