<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body class="profile-page no-background">
        <div class="header-container">
            <header>
                <%- include('../partials/header-connected') %>
            </header>
        </div>

        <div class="main-container">
            <div class="info-bloc">
                <div class="user-details-bloc">
                    <img
                        src="/images/icons/icon_profile_coloured.svg"
                        alt="User's pic"
                    />
                    <div class="user-details">
                        <p><%= session.user.first %></p>
                        <p class="profile-lastName">
                            <%= session.user.last %>
                        </p>
                    </div>
                </div>
                <div class="profile-actions">
                    <a href="/logout" class="line logout"
                        ><img src="/images/icons/icon_logout.svg" />
                        <p>Logout</p>
                    </a>
                    <a href="/editProfile" class="line edit"
                        ><img src="/images/icons/icon_edit.svg" />
                        <p>Edit profile</p>
                    </a>
                </div>
            </div>
            <div class="info-bloc user-favourites">
                <div class="line section-title">
                    <img src="/images/icons/icon_fav.svg" />
                    <p>Favourites</p>
                </div>
                <div class="liste-city-bloc">
                    <% user.favourites.forEach(function(fav) { %>
                    <form
                        class="city-bloc hvr-grow"
                        action="/selectfav"
                        method="POST"
                    >
                        <p class="city-name"><%= fav.city.name %></p>
                        <div class="line">
                            <p class="city-temperature">
                                <%= fav.weather.temp %>
                            </p>
                            <p class="city-weather">
                                <%= fav.weather.desc %>
                            </p>
                            <input
                                class="fav-city-info"
                                name="inputFavCityInfo"
                                type="text"
                                value="
                                <%-fav.city.id %>,
                                <%-fav.city.name %>,
                                <%-fav.city.country %>,
                                <%-fav.city.coord.lat %>,
                                <%- fav.city.coord.lon %>
                                "
                            />
                        </div>
                    </form>
                    <% }); %>
                </div>
            </div>
            <div class="info-bloc user-historic">
                <div class="line section-title">
                    <img src="/images/icons/icon_location-history.svg" />
                    <p>Historic</p>
                </div>
                <div class="liste-city-bloc">
                    <a class="city-bloc hvr-grow" href="/information">
                        <p class="city-name">City</p>
                        <div class="line">
                            <p class="city-temperature">Temperature</p>
                            <p class="city-weather">Weather</p>
                        </div>
                    </a>
                    <a class="city-bloc hvr-grow" href="/information">
                        <p class="city-name">City</p>
                        <div class="line">
                            <p class="city-temperature">Temperature</p>
                            <p class="city-weather">Weather</p>
                        </div>
                    </a>
                    <a class="city-bloc hvr-grow" href="/information">
                        <p class="city-name">City</p>
                        <div class="line">
                            <p class="city-temperature">Temperature</p>
                            <p class="city-weather">Weather</p>
                        </div>
                    </a>
                    <a class="city-bloc hvr-grow" href="/information">
                        <p class="city-name">City</p>
                        <div class="line">
                            <p class="city-temperature">Temperature</p>
                            <p class="city-weather">Weather</p>
                        </div>
                    </a>
                    <a class="city-bloc hvr-grow" href="/information">
                        <p class="city-name">City</p>
                        <div class="line">
                            <p class="city-temperature">Temperature</p>
                            <p class="city-weather">Weather</p>
                        </div>
                    </a>
                    <a class="city-bloc hvr-grow" href="/information">
                        <p class="city-name">City</p>
                        <div class="line">
                            <p class="city-temperature">Temperature</p>
                            <p class="city-weather">Weather</p>
                        </div>
                    </a>
                    <a class="city-bloc hvr-grow" href="/information">
                        <p class="city-name">City</p>
                        <div class="line">
                            <p class="city-temperature">Temperature</p>
                            <p class="city-weather">Weather</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>
